@twitter: #1ab7ea;

.twitter-bird-animation {
  background-image: url("http://www.cloud.elalemanyo.de/tmp/twitter-bird-sprite-e0FhFKaXRI.png");
	background-size: cover;
	display: block;
  position: relative;
	height: 75px;
  width: 75px;
  margin: 50px auto 0 auto;
  animation: 0.3s fly step-end infinite;
}

@keyframes fly {
  0%  { background-position: 0 0;}
  33% { background-position: -250 0;}
  66% { background-position: -450px 0;}
}

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both;}
}
