/* Overwriting Default Settings */
.reveal div.prompt.input_prompt {
    width: 0;
    padding: 0;
    min-width: 0;
}

.reveal div.text_cell.rendered + div.fragment {
    margin-top: 1em;
}

html.img-right div.slide-background.present {
    background-position: right;
}

div .text_cell_render {
    padding: 0 0.5em 0 0.4em;	/* needed for more concise bullet lists */
}

.rendered_html h1:first-child,
.rendered_html h2:first-child,
.rendered_html h3:first-child,
.rendered_html h4:first-child {
    margin-bottom: 1em;
}

#annotation-scheme-title:first-child {
    margin-bottom: 0em;
}

div.cell {
    padding: 0px;
}

.reveal .inner_cell ul li {
    padding-bottom: 0.5em;
}

.reveal p {
    margin: 0;
}

.reveal .slide-number {
    background-color: #FFF;
    color: #00305e;
    font-weight: bold;
}

/* Animation */
@keyframes removed-item-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        line-height: 0px;
        font-size: 0px;
        height: 0px;
        display: none;
    }
}

/* Fonts */
* {
    font-family: Junicode, "Latin Modern Roman", Times, serif;
    color: #00305e;
}

.reveal .translation {
    font-style: italic;
}

.reveal .positive {
    color: green;
}

.reveal .negative {
    color: red;
}

.reveal .predicted-label + .negative,
.reveal .gold-label + .negative {
    color: darkblue;
}

.reveal .neutral {
    color: darkslategray;
}

/* Tables */
.reveal table thead tr td {
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.reveal table thead tr td.lexicon {
    width: 7em;
}

/* first cell in a row */
.reveal table tbody tr + td {
    text-align: left;
}

/* all other cells in the table */
.reveal table tbody td + td {
    text-align: center;
}

.reveal table tbody tr td.example {
    font-size: 12px;
}

.reveal table tbody tr td.best {
    font-weight: bold;
}

reveal table tbody tr td.separator {
    background-color: slategray;
    color: white;
    font-weight: bold;
}

.reveal table {
    font-size: 16px;
    width: 100%;
    caption-side: bottom;
}

.reveal table.narrow {
    width: 50%;
}

.reveal table caption  {
    color: #5E5E5E;
    font-size: 17px;
    text-align: center;
    padding-top: 2em;
}

.reveal table caption em  {
    color: #5E5E5E;
    font-size: 17px;
    text-align: center;
}

.reveal table#discourse-relation-schemes thead tr td:first-child {
    width: 7em;
}

.reveal table#discourse-relation-schemes tbody tr td + td {
    font-size: small;
}

/* Images */
.reveal figure figure {
    width: 45%;
    display: inline-block;
    margin: 0 1em 0 1em;
}

.reveal figure .img-top figure, .reveal figure .img-bottom figure {
    width: 95%;
    display: block;
    margin: 0 1em 0 1em;
}

.reveal figure .img-top figure img,
.reveal figure .img-bottom figure img {
    height: 11em;
}

.reveal figure .img-top figure figcaption,
.reveal figure .img-bottom figure figcaption {
    margin-top: 0.2em;
}

.reveal figure figcaption {
    text-align: center;
    font-size: 17px;
    color: #5E5E5E;
    margin-top: 1em;
}

.reveal img.faded {
    box-shadow: inset 0 0 40px 16px;
}

.reveal section div.text_cell_render img {
    margin: auto;
}

.reveal section ul li .examples img {
    display: block;
    height: 100%;
    margin: 10px 30px;
}

.reveal section div.text_cell_render img.heatmap {
    width: 100%;
    display: inline-block;
    margin: 0.5em;
}

.reveal .examples .center img {
    height: 100%;
    width: auto;
}

img.fit {
    max-height: 100%;
    max-width: 100%;
}

#emotions {
    margin: auto;
    height: 20em;
}

#wordnet {
    margin: auto;
    height: 25em;
}

#wordnet-graph {
    margin: auto;
    width: 20em;
    height: 20em;
}

#right-bear-img, #left-bear-img {
    width: 11em;
}

#merkel-twitter {
    height: 80%;
    filter: brightness(1.5) contrast(0.9) opacity(0.85);
    border-radius: 50%;
    box-shadow: 0 0 40px 20px rgba(30, 139, 195, 1);
}

#screencapture-twitter {
    height: 33em;
    width: 25em;
}

#chuck-norris-div img {
    width: 20em;
    margin: auto;
}

#extrinsic-lex-evaluation {
    height: 15em;
}

#ising, #blair-goldensohn, #esuli-sebastiani,
#awdallah, #knn {
    height: 10em;
}

#severyn-moschitti {
    height: 12em;
}

#linproj-left, #linproj-right {
    height: 14em;
}

#word2vec {
    height: 20em;
}

#word2vec2, #task-specific {
    height: 15em;
}

#word2vec3, #task-specific2 {
    height: 10em;
}

#vo-zhang {
    height: 13em;
}

#tang, #nearest-centroids, #pca {
    height: 15em;
}

#lin-proj {
    height: 10em;
}

#magnifier {
    height: 7em;
    width: auto;
}

#final-flag {
    height: 6em;
    width: auto;
}

#embedding-types {
    height: 24em;
}

#discourse {
    width: auto;
    height: 10em;
}

#rst-tree-example {
    width: 55%;
}

#pdtb-example {
    width: 70%;
}

#rdp-plate {
    height: 20em;
    width: auto;
}

#edu-distribution-potts, #edu-distribution-sb10k {
    height: 12em;
    width: 21em;
}

/* Divs and Spans */
ul li .examples .left,
ul li .examples .right {
    display: inline-flex;
    height: 10em;
    margin: 5px 0px;
    width: 45%;
}

.reveal section.present .examples .center {
    height: 15em;
    margin: 5px 0px;
    width: 100%;
}

.fragment.visible:not(.current-fragment) .hide-on-next-fragment {
    animation: removed-item-animation 0.4s cubic-bezier(0.6, -0.05, 0.9, 0.9) forwards;
}

.fragment.visible:not(.current-fragment) .fade-out-on-next-fragment {
    opacity: 0;
    display: none;
}

ul li div.examples {
    width: 100%;
}

#right-bear-div, #left-bear-div {
    height: 12em;
}

#chuck-norris-div {
    height: 14em;
}

#merkel-twitter-div {
    height: 15em;
    margin-top: 2em;
}

.reveal .cell.left, .reveal .cell.right {
    width: 47%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.reveal #task-specific-word2vec .cell.left, .reveal  #task-specific-word2vec .cell.right {
    flex-direction: row;
}

.reveal .citation {
    width: 95%;
    background: #FFF;
    font-family: monospace, sans-serif;
    color: #000;
    margin: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.reveal .citation * {
    padding: 1em 1em;
}

.reveal .cell pre {
    width: 90%;
    display: inline-block;
    margin: auto;
    font-size: medium;
}

.reveal div.row {
    width: 85%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.reveal .seed-set {
    margin-top: 1em;
}

#intrinsic-lex-evaluation {
    width: 100%;
    margin-top: 0em;
}

.reveal .negdelta, .reveal .posdelta, .stddev {
    vertical-align: super;
    font-size: small;
}

.reveal .negdelta {
    color: red;
}

.reveal .posdelta {
    color: green;
}

.reveal .stddev::before {
    content: "±";
    vertical-align: super;
    font-size: small;
}

.reveal .default-rel {
    font-weight: bold;
}

.reveal .img-top, .reveal .img-bottom {
    margin: auto;
    width: 95%;
}

.reveal .answer {
    margin-left: 3em;
}

/* Title Page */
.reveal .supertitle, .reveal .title, .reveal .author,
.reveal .date, .reveal .institution, .reveal h1.chapter-title {
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: Junicode, "Latin Modern Roman", Times, serif;
    color: #00305e;
}

.reveal .supertitle {
    padding-top: 9%;
    padding-bottom: 2%;
}

.reveal .author p {
    margin: 0;
    padding: 0;
}

.reveal .supertitle, .reveal .author p {
    vertical-align: middle;
    font-variant: small-caps;
    font-size: 18pt;
}

.reveal .author p.alternative-name {
    vertical-align: middle;
    font-size: 14pt;
    margin-bottom: 1em;
}

.reveal .title {
    vertical-align: middle;
    font-size: 40pt;
    font-weight: bold;
    font-variant: small-caps;
    padding-top: 5%;
    padding-bottom: 6%;
}

.rendered_html img.logo {
    max-width: 15%;
    height: auto;
    margin: auto;
}

.reveal .institution {
    margin-top: 1em;
    padding-top: 0%;
    padding-bottom: 0%;
}

.reveal .institution, .reveal .date {
    font-size: 12pt;
}

/* Headings */
.reveal h1.chapter-title {
    letter-spacing: normal;
}

.reveal h1.chapter-title + img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
    font-family: Junicode, "Latin Modern Roman", Times, serif;
    color: #00305e;
}

/* Example */
.reveal div.example {
    background-color: #FFF;
    border: 3px solid #f59c00;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.reveal div.example div.title {
    padding: 0.2em 0 0.3em 0.6em;
    font-size: 20pt;
    text-align: left;
}

.reveal div.example .annotator1,
.reveal div.example .annotator2 {
    font-weight: bold;
    font-size: 15pt;
    text-align: left;
}

.reveal div.example .annotator1 {
    padding: 0em 0.5em 0.3em 0.8em;
    color: #cd0000;
}

.reveal div.example .annotator2 {
    padding: 0.75em 0.5em 0.3em 0.8em;
    color: mediumblue;
}

.reveal div.example div.tweet,
.reveal div.example div.translation,
.reveal div.example div.label {
    padding: 0em 0.5em 0.3em 0.8em;
    font-size: 15pt;
    text-align: left;
    display: block;
}

.reveal div.example span.gold-label,
.reveal div.example span.predicted-label {
    font-weight: bold;
}

.reveal div.example span.gold-label {
    padding-left: 2.5em;
}

.reveal div.example div.translation {
    font-style: italic;
    color: #707070;
}

.reveal div.example div span.label {
    font-weight: bold;
    font-style: normal;
    margin-right: 0.75em;
    color: darkred;
    /* color: #00305e; */
}

/* tags */
.reveal div.example span.tag {
    font-weight: bold;
    font-style: normal;
    font-size: small;
    vertical-align: sub;
}

/* sentiment tag */
.reveal div.example div span.sentiment {
    color: #483D8B;
}

.reveal div.example div span.sentiment::before {
    content: "[";
    color: #483D8B;
    font-weight: bold;
    font-style: normal;
}

.reveal div.example div span.sentiment::after {
    content: "]";
    color: #483D8B;
    font-weight: bold;
    font-style: normal;
}

.reveal div.example span.sentiment + span.tag {
    color: #483D8B;
}

/* source tag */
.reveal div.example div span.source {
    color: #8B6508;
}

.reveal div.example div span.source::before {
    content: "[";
    color: #8B6508;
    font-style: normal;
}

.reveal div.example div span.source::after {
    content: "]";
    color: #8B6508;
    font-style: normal;
}

.reveal div.example span.source + span.tag {
    color: #8B6508;
}

/* target tag */
.reveal div.example div span.target {
    color: darkred;
}

.reveal div.example div span.target::before {
    content: "[";
    color: darkred;
    font-style: normal;
}

.reveal div.example div span.target::after {
    content: "]";
    color: darkred;
    font-style: normal;
}

.reveal div.example span.target + span.tag {
    color: darkred;
}

/* polar-term tag */
.reveal div.example div span.polar-term {
    color: #f59c00;
}

.reveal div.example div span.polar-term::before {
    content: "[";
    color: #f59c00;
    font-style: normal;
}

.reveal div.example div span.polar-term::after {
    content: "]";
    color: #f59c00;
    font-style: normal;
}

.reveal div.example span.polar-term + span.tag {
    color: #f59c00;
}

/* intensifier tag */
.reveal div.example div span.intensifier {
    color: green;
}

.reveal div.example div span.intensifier::before {
    content: "[";
    color: green;
    font-style: normal;
}

.reveal div.example div span.intensifier::after {
    content: "]";
    color: green;
    font-style: normal;
}

.reveal div.example span.intensifier + span.tag {
    color: green;
}

/* downtoner tag */
.reveal div.example div span.downtoner {
    color: cyan;
}

.reveal div.example div span.downtoner::before {
    content: "[";
    color: cyan;
    font-style: normal;
}

.reveal div.example div span.downtoner::after {
    content: "]";
    color: cyan;
    font-style: normal;
}

.reveal div.example span.downtoner + span.tag {
    color: cyan;
}

/* negation tag */
.reveal div.example div span.negation {
    color: blue;
}

.reveal div.example div span.negation::before {
    content: "[";
    color: blue;
    font-style: normal;
}

.reveal div.example div span.negation::after {
    content: "]";
    color: blue;
    font-style: normal;
}

.reveal div.example span.negation + span.tag {
    color: blue;
}

/* Quotes */
.reveal div.quote {
    font-style: italic;
    text-align: right;
}
